table(style='width:100%;', cellspacing='0', cellpadding='0')
    tr
        td(colspan='2')
            img(src="logos/#{title.logotipo}",style="width:150px; padding:10px;")
        td(style='font-size:18px; font-weight:bold; text-align:center; padding-top:15px;')
            p #{data.banco}-#{data.bancodigito}
        td(colspan='3', style='font-size:18px; font-weight:bold; text-align:right; padding-top:15px; padding-right:10px;')
            if via == 1
                p #{title.textosuperior}
            if via == 2
                p #{data.codigobarras}
    tr
        td(colspan='5')
            | #{title.localpagamento}
            br
            | #{data.localpagamento}
        td(style='width:300px; background-color:#ededed;')
            | #{title.vencimento}
            br
            | #{data.vencimento}

    tr
        td(colspan='5')
            | #{title.beneficiario}
            br
            | #{data.beneficiario}

        td
            | #{title.agenciacodigobeneficiario}
            br
            | #{data.agenciacodigobeneficiario}

    tr
        td
            | #{title.datadocumento}
            br
            | #{data.datadocumento}
        td
            | #{title.numerodocumento}
            br
            | #{data.numerodocumento}
        td
            | #{title.especiedocumento}
            br
            | #{data.especiedocumento}
        td
            | #{title.aceite}
            br
            | #{data.aceite}
        td
            | #{title.dataprocessamento}
            br
            | #{data.dataprocessamento}
        td(style='background-color:#ededed;')
            | #{title.nossonumero}
            br
            | #{data.nossonumero}

    tr
        td
            | #{title.usobanco}
            br
            | #{data.usobanco}
        td
            | #{title.carteira}
            br
            | #{data.carteira}
        td
            | #{title.especie}
            br
            | #{data.especie}
        td
            | #{title.quantidade}
            br
            | #{data.quantidade}
        td
            | #{title.valor}
            br
            | #{data.valor}
        td
            | #{title.valordocumento}
            br
            | #{data.valordocumento}

    tr
        td(rowspan='6', colspan='5', style="vertical-align:top;")
            | #{title.instrucoes}

    tr
        td
            | #{title.descontoabatimento}
            br
            | #{data.descontoabatimento}

    tr
        td
            | #{title.outrasdeducoes}
            br
            | #{data.outrasdeducoes}

    tr
        td
            | #{title.jurosmulta}
            br
            | #{data.jurosmulta}

    tr
        td
            | #{title.outrosacrescimos}
            br
            | #{data.outrosacrescimos}
    tr
        td(style='background-color:#ededed;')
            | #{title.valorcobrado}
            br
            | #{data.valorcobrado}

    tr
        td(colspan='6', style='white-space:pre;')
            | #{title.pagador}
            br
            | #{data.pagador}
                

    tr
        td(colspan='5',style='border-right-width:0px;')
            | #{title.sacadoravalista}
            br
            | #{data.sacadoravalista}
        td(colspan='1',style='border-left-width:0px;')
            | #{title.codigobaixa}
            br
            | #{data.codigobaixa}